{include file="common/header" /}
<body class="sticky-header">
{include file="component/layer" /}
{include file="component/userDetail" /}
{include file="component/groupButton" /}
{include file="component/dataTable" /}
    <section>
        {include file="common/leftSide" /}
        <!-- main content start-->
        <div class="main-content" >
            {include file="common/nav" /}
            <div class="col-md-12" style="margin-top: 10px;">
                {include file="common/tab" /}
            </div>
        </div>
    </section>
 {include file="common/footer" /}