<template id="as-user-detail">
    <div>
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel">
                        <div class="panel-body">
                            <div class="profile-pic text-center">
                                <img alt="" src="/static/images/avatar.png">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="panel">
                        <div class="panel-body">
                            <ul class="p-info">
                                <li>
                                    <div class="title">性别</div>
                                    <div class="desk">{{userData.sex | sex}}</div>
                                </li>
                                <li>
                                    <div class="title">所在城市</div>
                                    <div class="desk">{{userData.country}}-{{userData.province}}-{{userData.city}}-{{userData.town}}</div>
                                </li>
                                <li>
                                    <div class="title">教育背景</div>
                                    <div class="desk">{{userData.education | education}}</div>
                                </li>
                                <li>
                                    <div class="title">完成项目</div>
                                    <div class="desk">50+</div>
                                </li>
                                <li>
                                    <div class="title">技能标签</div>
                                    <div class="desk">HTML, CSS, JavaScript.</div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="panel">
                        <div class="panel-body p-states">
                            <div class="summary pull-left">
                                <h4>Total <span>Sales</span></h4>
                                <span>Monthly Summary</span>
                                <h3>$ 5,600</h3>
                            </div>
                            <div id="expense" class="chart-bar"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="panel">
                        <div class="panel-body p-states green-box">
                            <div class="summary pull-left">
                                <h4>Product <span>refund</span></h4>
                                <span>Monthly Summary</span>
                                <h3>160</h3>
                            </div>
                            <div id="pro-refund" class="chart-bar"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="panel">
                        <div class="panel-body p-states">
                            <div class="summary pull-left">
                                <h4>Total <span>Earning</span></h4>
                                <span>Monthly Summary</span>
                                <h3>$ 51,2600</h3>
                            </div>
                            <div id="expense2" class="chart-bar"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel">
                        <div class="panel-body">
                            <div class="profile-desk">
                                <h1>{{userData.nickname}}</h1>
                                <span class="designation">{{userData.company}} ({{userData.job}})</span>
                                <p>
                                    {{userData.introduce}}
                                </p>
                                <a class="btn p-follow-btn pull-left" href="#"> <i class="fa fa-check"></i> 关注</a>

                                <ul class="p-social-link pull-right">
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                    </li>
                                    <li class="active">
                                        <a href="#">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-google-plus"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="panel">
                        <form>
                            <textarea class="form-control input-lg p-text-area" rows="2" placeholder="可直接以小秘书身份给该用户发送消息"></textarea>
                        </form>
                        <footer class="panel-footer">
                            <button class="btn btn-post pull-right">发送</button>
                            <ul class="nav nav-pills p-option">
                                <li>
                                    <a href="#"><i class="fa fa-user"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-camera"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa  fa-location-arrow"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-meh-o"></i></a>
                                </li>
                            </ul>
                        </footer>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="panel">
                        <header class="panel-heading">
                            recent activities
                            <span class="tools pull-right">
                                        <a class="fa fa-chevron-down" href="javascript:;"></a>
                                        <a class="fa fa-times" href="javascript:;"></a>
                                     </span>
                        </header>
                        <div class="panel-body">
                            <ul class="activity-list">
                                <li>
                                    <div class="avatar">
                                        <img src="images/photos/user1.png" alt=""/>
                                    </div>
                                    <div class="activity-desk">
                                        <h5><a href="#">Jonathan Smith</a> <span>Uploaded 5 new photos</span></h5>
                                        <p class="text-muted">7 minutes ago near Alaska, USA</p>
                                        <div class="album">
                                            <a href="#">
                                                <img alt="" src="images/gallery/image1.jpg">
                                            </a>
                                            <a href="#">
                                                <img alt="" src="images/gallery/image2.jpg">
                                            </a>
                                            <a href="#">
                                                <img alt="" src="images/gallery/image3.jpg">
                                            </a>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="avatar">
                                        <img src="images/photos/user2.png" alt=""/>
                                    </div>
                                    <div class="activity-desk">
                                        <h5><a href="#">John Doe</a> <span>Completed the Sight visit.</span></h5>
                                        <p class="text-muted">2 minutes ago near Alaska, USA</p>
                                        <div class="location-map">
                                            <div id="map-canvas"></div>
                                        </div>
                                    </div>
                                </li>

                                <li>
                                    <div class="avatar">
                                        <img src="images/photos/user3.png" alt=""/>
                                    </div>
                                    <div class="activity-desk">

                                        <h5><a href="#">Jonathan Smith</a> <span>attended a meeting with</span>
                                            <a href="#">John Doe.</a></h5>
                                        <p class="text-muted">2 days ago near Alaska, USA</p>
                                    </div>
                                </li>

                                <li>
                                    <div class="avatar">
                                        <img src="images/photos/user4.png" alt=""/>
                                    </div>
                                    <div class="activity-desk">

                                        <h5><a href="#">Jonathan Smith</a> <span>completed the task “wireframe design” within the dead line</span></h5>
                                        <p class="text-muted">4 days ago near Alaska, USA</p>
                                    </div>
                                </li>

                                <li>
                                    <div class="avatar">
                                        <img src="images/photos/user5.png" alt=""/>
                                    </div>
                                    <div class="activity-desk">

                                        <h5><a href="#">Jonathan Smith</a> <span>was absent office due to sickness</span></h5>
                                        <p class="text-muted">4 days ago near Alaska, USA</p>
                                    </div>
                                </li>


                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    var asUserDetail = Vue.component('as-user-detail', {
        template:'#as-user-detail',
        props:['mapper','id'],
        data:function () {
            return {
                "mapperJson":'',
                "userData":'',
                "dataId":''
            }
        },
        mounted:function () {
            var _self = this;
            doPost('/user/'+_self.$options.propsData.id,'',function ($data) {
                //thisTab['mapperJson'] = $data['data'];
                //tabbar.addTab(thisTab);
                _self.userData = $data['data'];
                console.log(JSON.stringify( _self.userData));
            });
        },
        methods:{

        }
    });
</script>