<!--body wrapper start-->
<div class="wrapper">
    <div class="row">
        <div class="col-sm-12">
            <section class="panel">
                <header class="panel-heading">
                    用户别列表
                    <span class="tools pull-right">
                            <a href="javascript:;" class="fa fa-chevron-down"></a>
                            <a href="javascript:;" class="fa fa-times"></a>
                         </span>
                </header>
                <div class="panel-body">
                    <table class="table  table-hover general-table">
                        <thead>
                        <tr>
                            <th> 用户id</th>
                            <th>用户名</th>
                            <th>手机号</th>
                            <th>用户组</th>
                            <th>注册时间</th>
                            <th>最后登录</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>

                        <tr>
                            <td>
                                <a href="#">

                                </a>
                            </td>
                            <td>
                                <a href="#">

                                </a>
                            </td>
                            <td>
                                <a href="#">

                                </a>
                            </td>
                            <td>
                                <a href="#">

                                </a>
                            </td>
                            <td>
                                <a href="#">

                                </a>
                            </td>
                            <td>
                                <a href="#">

                                </a>
                            </td>
                            <td>
                                <div class="btn-group">
                                    <button data-toggle="dropdown" class="btn btn-success dropdown-toggle" type="button">用户组 <span class="caret"></span></button>
                                    <ul role="menu" class="dropdown-menu">
                                        <li><a href="#">Action</a></li>
                                        <li><a href="#">Another action</a></li>
                                        <li><a href="#">Something else here</a></li>
                                        <li class="divider"></li>
                                        <li><a href="#">Separated link</a></li>
                                    </ul>
                                </div>
                                <button class="btn btn-info" type="button">详情</button>
                                <button class="btn btn-danger" type="button">禁封</button>
                            </td>
                        </tr>
                        {/volist}


                        </tbody>
                    </table>
                </div>
            </section>
        </div>
    </div>
</div>