

<!--easy pie chart-->
<script src="/static/js/easypiechart/jquery.easypiechart.js"></script>
<script src="/static/js/easypiechart/easypiechart-init.js"></script>

<!--Sparkline Chart-->
<script src="/static/js/sparkline/jquery.sparkline.js"></script>
<script src="/static/js/sparkline/sparkline-init.js"></script>

<!--icheck -->
<script src="/static/js/iCheck/jquery.icheck.js"></script>
<script src="/static/js/icheck-init.js"></script>

<!-- jQuery Flot Chart-->
<script src="/static/js/flot-chart/jquery.flot.js"></script>
<script src="/static/js/flot-chart/jquery.flot.tooltip.js"></script>
<script src="/static/js/flot-chart/jquery.flot.resize.js"></script>


<!--Morris Chart-->
<script src="/static/js/morris-chart/morris.js"></script>
<script src="/static/js/morris-chart/raphael-min.js"></script>

<!--Calendar-->
<script src="/static/js/calendar/clndr.js"></script>
<script src="/static/js/calendar/evnt.calendar.init.js"></script>
<script src="/static/js/calendar/moment-2.2.1.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>

<!--common scripts for all pages-->
<script src="/static/js/scripts.js"></script>

<!--Dashboard Charts-->
<script src="/static/js/dashboard-chart-init.js"></script>
</body>
</html>