<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="ThemeBucket">
    <link rel="shortcut icon" href="#" type="/static/image/png">

    <title>Login</title>

    <!--icheck-->
    <link href="/static/js/iCheck/skins/minimal/minimal.css" rel="stylesheet">
    <link href="/static/js/iCheck/skins/square/square.css" rel="stylesheet">
    <link href="/static/js/iCheck/skins/square/red.css" rel="stylesheet">
    <link href="/static/js/iCheck/skins/square/blue.css" rel="stylesheet">

    <!--dashboard calendar-->
    <link href="/static/css/clndr.css" rel="stylesheet">

    <!--Morris Chart CSS -->
    <link rel="stylesheet" href="js/morris-chart/morris.css">

    <!--common-->
    <link href="/static/css/style.css" rel="stylesheet">
    <link href="/static/css/style-responsive.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="/static/js/html5shiv.js"></script>
    <script src="/static/js/respond.min.js"></script>
    <![endif]-->
    <!--vue-->
    <script src="/static/js/vue.min.js"></script>
    <script src="https://cdn.jsdelivr.net/vue.resource/1.2.0/vue-resource.min.js"></script>
    <!-- Placed js at the end of the document so the pages load faster -->
    <script src="/static/js/jquery-1.10.2.min.js"></script>
    <script src="/static/js/jquery-ui-1.9.2.custom.min.js"></script>
    <script src="/static/js/jquery-migrate-1.2.1.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/modernizr.min.js"></script>
    <script src="/static/js/jquery.nicescroll.js"></script>
    <!--layer-->
    <script src="/static/js/layer.js"></script>
</head>